:root {
  --door-width: 150px;
  --gap: 2rem;
  --card-border-radius: 4.75% / 3.5%;
}

@font-face {
  font-family: 'AmaticSC';
  src: url('AmaticSC-Regular.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'AmaticSC', sans-serif;
  font-size: 1rem;
  min-height: 100%;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin: 0 var(--gap) 4rem;
  max-width: min(100%, calc((var(--door-width) + var(--gap)) * 6));
  justify-content: center;
}

.door {
  font-size: 4rem;
  outline: 0.15rem dashed lightgrey;
  display: flex;
  aspect-ratio: 61/85;
  justify-content: center;
  align-items: center;
  min-width: var(--door-width);
  border-radius: var(--card-border-radius);
  user-select: none;
}
