:root {
  --red: rgb(171, 24, 13);
  --red-dark: rgb(119, 0, 0);
  --black-50: rgba(20, 20, 20, 0.5);
  --text-shadow-default: 0.1rem 0.1rem 0 var(--black-50);

  --door-width: 150px;
  --gap: 2rem;
  --card-border-radius: 4.75% / 3.5%;
  --white-25: rgba(255, 255, 255, 0.25);
  --gold-light: rgb(255, 205, 113);
  --gold-light-50: rgba(255, 205, 113, 0.5);
  --gold: rgb(253, 169, 47);
  --gold-dark: rgb(231, 153, 75);
  --bg-gold: linear-gradient(
    0.49turn,
    var(--gold) 40%,
    var(--gold-light) 48%,
    var(--gold-light) 52%,
    var(--gold),
    var(--gold-dark) 60%
  );
  --bg-gold-shine: radial-gradient(var(--gold-light), var(--gold));
  --perspective: 700px;
}

@font-face {
  font-family: 'AmaticSC';
  src: url('AmaticSC-Regular.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'AmaticSC', sans-serif;
  font-size: 1rem;
  min-height: 100%;
  text-align: center;
  background: radial-gradient(var(--red), var(--red-dark));
  color: var(--gold-light);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  background: var(--bg-gold);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: none;
  user-select: none;
  filter: drop-shadow(var(--text-shadow-default));
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin: 0 var(--gap) 4rem;
  max-width: min(100%, calc((var(--door-width) + var(--gap)) * 6));
  justify-content: center;
}

.card {
  perspective: var(--perspective);
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 61/85;
  justify-content: center;
  align-items: center;
  min-width: var(--door-width);
  border-radius: var(--card-border-radius);
  font-size: 6rem;
  outline: 2px dashed var(--gold-light-50);
  outline-offset: -2px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition:
    scale,
    scale 500ms;
}
.card .day {
  background: var(--bg-gold);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bold;
  filter: drop-shadow(var(--text-shadow-default));
  pointer-events: none;
}
.card:hover {
  cursor: pointer;
  transition: scale 50ms;
  scale: 1.1;
  outline: none;
}
.card:hover .door {
  background: var(--bg-gold-shine);
}
.card:hover .day,
.open .day {
  background: radial-gradient(var(--red), var(--red-dark));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.door {
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 61/85;
  justify-content: center;
  align-items: center;
}
.door,
figure,
img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-radius: var(--card-border-radius);
}
figure {
  display: none;
}
.open figure {
  display: revert;
}
.open img {
  pointer-events: all;
  cursor: zoom-in;
}

@keyframes open {
  0% {
    rotate: y 0deg;
  }
  100% {
    rotate: y -90deg;
  }
}
.open .door {
  background: var(--bg-gold-shine);
  transform-origin: center left;
  animation: open 1.5s forwards;
}

.highlight {
  position: fixed;
  height: 100%;
  width: 100%;
  scale: 0;
  z-index: 1;
  cursor: zoom-out;
}
.highlight img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: auto;
  width: auto;
  max-height: 95vh;
  max-width: 95vw;
}
@keyframes pop-in {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes pop-out {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
.pop-in {
  animation: pop-in 350ms forwards;
}
.pop-out {
  transform-origin: center !important;
  animation: pop-out 350ms forwards;
}
